@extends(layouts/layout.html)

@section(body)

    <div style="height: 440px;" class="flex w-full p-8 mt-8 justify-center h-96 gap-16">

        <div class="flex-none border p-2 w-1/4 shadow-lg rounded-lg">
            <p class="ml-4">
                Cijfers
            </p>
            <div class="w-full h-4/6 m-4">
                <div class=" w-11/12 h-full m-4s flex flex-col">
                    <div class="w-full h-1/5 border">
                        <div class="flex h-full">
                            <div class="w-1/6 h-full p-1 px-2">
                                <div class="font-bold text-gray-700 rounded-full bg-slate-400 flex items-center justify-center" style="height: 100%; width: 100%;">
                                    9.1
                                </div>
                            </div>

                            <div class=" flex">
                                <div class="self-center overflow-hidden">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="w-full h-1/5 border">
                        <div class="flex h-full">
                            <div class="w-1/6 h-full p-1 px-2">
                                <div class="font-bold text-gray-700 rounded-full bg-slate-400 flex items-center justify-center" style="height: 100%; width: 100%;">
                                    9.1
                                </div>
                            </div>

                            <div class=" flex">
                                <div class="self-center overflow-hidden">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-full h-1/5 border">
                        <div class="flex h-full">
                            <div class="w-1/6 h-full p-1 px-2">
                                <div class="font-bold text-gray-700 rounded-full bg-slate-400 flex items-center justify-center" style="height: 100%; width: 100%;">
                                    9.1
                                </div>
                            </div>

                            <div class=" flex">
                                <div class="self-center overflow-hidden">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-full h-1/5 border">
                        <div class="flex h-full">
                            <div class="w-1/6 h-full p-1 px-2">
                                <div class="font-bold text-gray-700 rounded-full bg-slate-400 flex items-center justify-center" style="height: 100%; width: 100%;">
                                    9.1
                                </div>
                            </div>

                            <div class=" flex">
                                <div class="self-center overflow-hidden">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-full h-1/5 border">
                        <div class="flex h-full">
                            <div class="w-1/6 h-full p-1 px-2">
                                <div class="font-bold text-gray-700 rounded-full bg-slate-400 flex items-center justify-center" style="height: 100%; width: 100%;">
                                    9.1
                                </div>
                            </div>

                            <div class=" flex">
                                <div class="self-center overflow-hidden">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="px-4">
                <button type="button" class="text-white focus:ring-4 font-medium rounded-lg w-full text-sm px-2 py-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Bekijk alles</button>

            </div>
        </div>


        <div class="flex-none border p-2 w-1/4 shadow-lg rounded-lg">
            <p class="ml-4">
                Tentamens
            </p>
            <div class="w-full h-4/6 m-4">
                <div class=" w-11/12 h-full m-4s flex flex-col">
<!--                        Tentamen-->
                    <div class="w-full h-1/5 border flex px-1 justify-center">


                        <div class="flex h-full w-9/12 ">
                            <div class=" flex">
                                <div class="self-center overflow-hidden px-1">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                        <div class="flex h-full w-3/12">
                            <div class=" flex">
                                <div class="self-center overflow-hidden font-light flex gap-1">
                                    <p>
                                        Weging:
                                    </p>
                                    <p class="">
                                        5
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
<!--                End tentamen-->
                    <!--                        Tentamen-->
                    <div class="w-full h-1/5 border flex px-1 justify-center">


                        <div class="flex h-full w-9/12 ">
                            <div class=" flex">
                                <div class="self-center overflow-hidden px-1">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                        <div class="flex h-full w-3/12">
                            <div class=" flex">
                                <div class="self-center overflow-hidden font-light flex gap-1">
                                    <p>
                                        Weging:
                                    </p>
                                    <p class="">
                                        5
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--                End tentamen-->
                    <!--                        Tentamen-->
                    <div class="w-full h-1/5 border flex px-1 justify-center">


                        <div class="flex h-full w-9/12 ">
                            <div class=" flex">
                                <div class="self-center overflow-hidden px-1">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                        <div class="flex h-full w-3/12">
                            <div class=" flex">
                                <div class="self-center overflow-hidden font-light flex gap-1">
                                    <p>
                                        Weging:
                                    </p>
                                    <p class="">
                                        5
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--                End tentamen-->
                    <!--                        Tentamen-->
                    <div class="w-full h-1/5 border flex px-1 justify-center">


                        <div class="flex h-full w-9/12 ">
                            <div class=" flex">
                                <div class="self-center overflow-hidden px-1">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                        <div class="flex h-full w-3/12">
                            <div class=" flex">
                                <div class="self-center overflow-hidden font-light flex gap-1">
                                    <p>
                                        Weging:
                                    </p>
                                    <p class="">
                                        5
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--                End tentamen-->
                    <!--                        Tentamen-->
                    <div class="w-full h-1/5 border flex px-1 justify-center">


                        <div class="flex h-full w-9/12 ">
                            <div class=" flex">
                                <div class="self-center overflow-hidden px-1">
                                    Object georienteerd programmeren
                                </div>
                            </div>
                        </div>

                        <div class="flex h-full w-3/12">
                            <div class=" flex">
                                <div class="self-center overflow-hidden font-light flex gap-1">
                                    <p>
                                        Weging:
                                    </p>
                                    <p class="">
                                        5
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--                End tentamen-->

                </div>
            </div>
            <div class="px-4">
                <button type="button" class="text-white focus:ring-4 font-medium rounded-lg w-full text-sm px-2 py-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Inschrijven</button>

            </div>
        </div>
    </div>

@endsection()
